<div class="modal-header">
    <h6 class="modal-title">Remove Employee</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <form [formGroup]="fm">
                    <div class="form-content">
                        <div class="input-title">Employee ID:</div>
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" formControlName="employeeID"
                                   id="employeeID" #employeeID placeholder="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark"
            (click)="deleteEmployee(employeeID.value)">Delete
    </button>
</div>

